RewriteEngine On

# If the requested file or directory does not exist...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...route the request to index.php
RewriteRule ^(.*)$ index.php [QSA,L]