*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-dashboard {
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-image: url("/public/assets/Dashboard.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative; 
    overflow: hidden;
}

.container-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 500px;
    min-height: min(500px, 90vh);
    padding: 20px;
    gap: 20px;
    background-color: #fffefe94; 
    border-radius: 16px;
    position: relative;
    z-index: 2; 
    backdrop-filter: blur(10px); 
}
.topo-dashboard{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#icone-voltar-dashboard{
    position: absolute;
    font-size: 2.5rem;
    color: #0d2a4d;
    left: 0px;
}

.img-logo-dashboard{
    width: 120px;
    margin-top: 20px;
}

.titulo-dashboard{
    color: #131E4C;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.botoes-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    width: 100%;
    gap: 30px;
}

.botoes-dashboard:hover{
    cursor:pointer;

}

.botoes-superior-dashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
}

.botao-dashboard{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 15px;
    gap: 10px;
    min-height: 60px;
    flex: 1;
    text-decoration: none;
    border-radius: 16px;
    border: 0;
    color: #131E4C;
    background-color: #f5f7fa;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.form-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 0;
}

.botao-logout-dashboard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    padding: 10px;
    cursor: pointer;
    color: #5a1a22;
    background-color: #f5f7fa;
    border-radius: 16px;
    border: 0;
    font-size: 1.5rem;
    
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.btn-voltar-home{
    cursor: pointer;
    text-decoration: none;
}

@media (min-width: 1980px) {
    .container-dashboard{
        max-width: 800px;
    }

    .img-logo-dashboard{
        width: 160px;
    }

    .titulo-dashboard{
        font-size: 4rem;
    }

    .botao-dashboard{
        font-size: 2.5rem;
    }

    .botao-logout-dashboard{
        font-size: 2.5rem;
    }

    #icone-voltar-dashboard{

        font-size: 3.5rem;
    }
    
}

@media (max-width: 768px) {
    .botoes-superior-dashboard{
        flex-direction: column;
    }
    
    .botoes-dashboard{
        gap: 10px;
    }

    .img-logo-dashboard{
        width: 90px;
    }

    .titulo-dashboard{
        font-size: 2rem;
    }

    .botao-dashboard{
        font-size: 1rem;
    }

    .botao-logout-dashboard{
        font-size: 1rem;
    }

    #icone-voltar-dashboard{

        font-size: 2.1rem;
    }
}
