/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --vermelho-escuro: #5A1A22;
    --vermelho: #E6392F;
    --azul-marinho: #0D2A4D;
    --azul: #1F5FA8;
    --azul-claro: #4FA3FF;
    --azul-ceu: #96CCFF;
    --branco-neve: #F5F7FA;
    --preto: #2B2F38;
}

.body-pagina-publicacao {
    background-color: var(--azul-ceu); 
    color: var(--preto);
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pagina-publicacao{
    width: 100%;
    max-width: 1100px;
}

/* Cabeçalho */
.header-pag-publicacao h1 {
    font-size: 42px;
    font-weight: 700;
    color: var(--azul-marinho);
}

.header-pag-publicacao h3 {
    font-size: 16px;
    font-weight: 400;
    color: var(--azul-marinho);
    margin-top: -5px;
    margin-bottom: 30px;
}

/* Abas (Publicações / Usuários) */
.abas-admin {
    display: flex;
    gap: 30px;
    margin-bottom: 25px;
    border-bottom: 2px solid transparent;
}

.aba-item {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: var(--azul);
    cursor: pointer;
    padding-bottom: 8px;
    transition: color 0.3s;
}

.aba-item.ativa {
    color: var;
    border-bottom: 3px solid var(--azul-marinho);
}

/* Container Escuro da Tabela */
.card-tabela {
    background-color: var(--azul-marinho); 
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    padding-bottom: 2px;
}

/* Topo do Card */
.topo-tabela {
    display: flex;
    justify-content: flex-end;
    padding: 25px 30px 15px 30px;
}

.criar-publicacao-admin {
    background-color: #ff4a4a; 
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.criar-publicacao-admin:hover {
    background-color: #963944;
}


.tabela-admin {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--branco-neve); 
}

/* Cabeçalho da Tabela */
.cabecalho-tabela-admin {
    background-color: var(--azul-marinho); 
}

.cabecalho-tabela-admin th {
    color: var(--branco-neve);
    font-weight: 500;
    font-size: 14px;
    padding: 18px 20px;
    text-align: center;
}

/* Linhas e Células de Dados */
.tabela-admin tbody tr {
    border-bottom: 1px solid var(--branco-neve); 
}

.tabela-admin tbody td {
    padding: 18px 20px;
    color: var(--preto);
    font-size: 14px;
    text-align: center;
    background-color: var(--branco-neve); 
}


.dado_id_admin {
    font-weight: 500;
}


.celula-acoes-admin {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.botao-acao {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--azul-marinho); 
    transition: transform 0.1s, color 0.2s;
}

.botao-acao .material-icons {
    font-size: 20px;
}

.botao-acao:hover {
    transform: scale(1.1);
}

.botao-deletar:hover {
    color: #ff4a4a;
}

/* Paginação */
.paginacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.btn-pag {
    background: none;
    border: none;
    font-size: 16px;
    color: var(--azul);
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.2s;
}

.btn-pag.ativo {
    background-color: var(--azul-marinho);
    color: var(--branco-neve);
    font-weight: 600;
}

.btn-pag:hover:not(.ativo) {
    background-color: rgba(17, 34, 64, 0.1);
}

.modal-pagina-publicacao{
    display: none;
    flex-direction: column;
    background-color: var(--branco-neve);
    width: 40%;
    height: fit-content;
    padding: 20px;
    position: absolute;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));

}

.modal-pagina-publicacao button{
    padding: 10px;
    border-radius: 20px;
    
}

.modal-pagina-publicacao .cancelarBotaoModal:hover{
    transition: transform 0.2s, color 0.2s;
    color: var(--branco-neve);
    font-weight: bold;
    background-color: var(--vermelho);
}


.modal-pagina-publicacao .enviarBotaoModal:hover{
    transition: transform 0.2s, color 0.2s;
    color: var(--branco-neve);
    font-weight: bold;
    background-color: rgb(86, 155, 86);
}


.botoesModalCriarPub{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.filtro{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    position: absolute;
    display: none;
}

.linha-separadora {
  border: none;
  border-top: 1px solid #ccc;
  margin: 5px 0px 5px 0px; 
}
/* Modal excluir */
.modal-excluir-publicacao{
    display: none;
    flex-direction: column;
    background-color: var(--branco-neve);
    width: 40%;
    height: fit-content;
    padding: 20px;
    position: absolute;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}

.titulo-modal-excluir{
    color: #5A1A22;
}
.linha-separadora-modal-excluir{
    border: none;
    border-top: 2px solid #ccc;
    margin: 5px 0px 0px 0px; 
}
.container-icone-modal-excluir{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone-alerta-modal-excluir{
    font-size: 3vw;
    color: #E6392F;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.descricao-modal-excluir{
    font-size: 1.3vw;
}

.modal-excluir-publicacao button{
    padding: 10px;
    border-radius: 20px;
}

.botoesModalExcluirPub{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.cancelarBotaoModalDeExclusao{
    color: #5A1A22;
    border: 2px solid #5A1A22;
}
.excluirBotaoModal{
    background-color: #E6392F;
    color: #F5F7FA;
    font-size: 1vw;
    border: 2px solid #5A1A22;
}

/* Modal visualizar */
.modal-visualizar-publicacao{
    display: none;
    flex-direction: column;
    background-color: var(--branco-neve);
    width: 40%;
    height: 550px;
    padding: 20px;
    position: absolute;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    overflow-y: auto;
}
.nav-modal-excluir{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
.titulo-modal-visualizar{
    color: #1F5FA8;
}
.icone-fechar-modal-excluir{
    font-size: 2vw;
    cursor: pointer;
    color: #1F5FA8;
}
.box1-modal{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 1%;
}
.box2-modal{
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    gap: 1%;
}
.grupo-inputs-modal {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.labal-modal-visualizar {
    font-weight: 500;
    font-size: 14px;
    margin-top: 2vh;
}
.grupo-inputs-modal input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.2s;
    width: 100%;
}
#descricaoModal{
    padding: 35px;
}
.imagem-principal-modal-excluir{
    display: flex;
    flex-direction: column;
    gap:10px
}
.img-principal-placeholder-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d4d5d8;
    height: 30vh;
    border-radius: 12px;
}
.img-secundaria-placeholder-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d4d5d8;
    height: 20vh;
    border-radius: 12px;
}
.icone-imagem-modal{
    color: #F5F7FA;
    font-size: 5vw;
}
.bloco-imagens-secundarias-modal{
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}
.bloco-imagens-secundarias-modal .img-placeholder-modal{
    height: 15vh;
}
.bloco-imagens-secundarias-modal i{
    font-size: 3vw;
}
/* Modal editar */
.modal-editar-publicacao{
    display: none;
    flex-direction: column;
    background-color: var(--branco-neve);
    width: 40%;
    height: 550px;
    padding: 20px;
    position: absolute;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    overflow-y: auto;
}

.botoesModalEditarPub{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.modal-editar-publicacao button{
    padding: 10px;
    border-radius: 20px;   
    padding-inline: 20px;
}
#editor-modal-editar{
    margin-top: 2vh;
}
.cancelarBotaoModalEditar{
    color: #0D2A4D;
    border: 1.5px solid #0D2A4D;
}
.enviarBotaoModalEditar{
    background-color: #1F5FA8;
    color:#F5F7FA;
    border: none;
}