*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#body-dashboard{
    background-image: url("/public/assets/Dashboard.jpg");
    background-size: cover;
    background-position: center;
}
.main-dashboard{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.container-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    width: 30%;

    background-color:#fffefe59;
    border-radius: 16px;
}
.img-logo-dashboard{
    width: 25%;
    margin-top: 8vh;
}
.titulo-dashboard{
    color: #131E4C;
    margin-bottom: 6vh;
    font-size: 5vh;
   
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.botoes-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    width: 100%;

}
.botoes-superior-dashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    gap: 10px;
    width: 100%;
    height: 35%;

}
.botao-dashboard{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    padding: 15px;
    width: 40%;
    height: 100%;
    gap: 1vw;

    border-radius: 16px;
    border: 0;
    color: #131E4C;
    background-color: #f5f7fa;

    font-size: 1.3vw;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.botao-logout-dashboard{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
    padding: 10px;
    width: 25%;
    height: 30%;

    color: #5a1a22;
    background-color: #f5f7fa;
    border-radius: 16px;
    border: 0;
    font-size: 1.1vw;
    
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
@media (max-width: 1200px){
    .container-dashboard{
        height: 45%;
    }
    .img-logo-dashboard{
        margin-top: 4vh;
    }
    .titulo-dashboard{
        font-size: 3vh;
    }
    .botoes-dashboard{
        height: 35%;
        font-size: 8vh;
    }
}
@media (max-width: 900px){
    .container-dashboard{
        height: 35%;
    }
    .img-logo-dashboard{
        margin-top: 5vh;
    }
    .titulo-dashboard{
        font-size: 2.5vh;
    }
    .botoes-dashboard{
        height: 30%;
    }
    .botoes-superior-dashboard{
        gap: 8px;
    }
    .botao-dashboard{
        padding: 10px;
    }
    .botao-logout-dashboard{
        padding: 8px;
    }
}
    @media (max-width: 600px){
    .container-dashboard{
        height: 25%;
    }
    .img-logo-dashboard{
        width: 30%;
        margin-top: 4vh;
    }
    .titulo-dashboard{
        font-size: 1.4vh;
    }
    .botoes-dashboard{
        height: 25%;
        font-size: 6vh;
    }
    .botoes-superior-dashboard{
        gap: 6px;
        margin-bottom: 1vh;
    }
    .botao-dashboard{
        padding: 5px;
    }
    .botao-logout-dashboard{
        padding: 6px;
        width: 10vw;
    }
}
@media (max-width: 400px){
    .container-dashboard{
        width: 40%;
    }
    .img-logo-dashboard{
        margin-top: 2vh;
    }
    .titulo-dashboard{
        font-size: 1.5vh;
        margin-bottom: 4vh;
    }
    .botoes-dashboard{
        margin-top: 10px;
    }
    .botao-dashboard{
        margin-left: 0vh;
        height: 22px;
        padding: 4px;
        font-size: 6px;
    }
    .botao-logout-dashboard{
        height: 22px;
        font-size: 5px;
        gap: 4px;
    }
}
