@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

footer{
    display: flex;
 
    background: linear-gradient(98deg,#4b0c14,#ad1c2e);
    color: white;
    text-align: center;
    padding: 30px 30px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}
.redes_sociais, .contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.contato-politica{
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.assinatura{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filtro-footer{
    display: none;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    

}

.modal-container{
    display: none;
    flex-direction: column;
    text-align: center;
    position: absolute;
    height: fit-content;
    z-index: 20;
    padding: 30px;
    top: 25%;
    left: 20%;
    right: 20%;
    border-radius: 20px;
    color: white;
    background: linear-gradient(98deg,#4b0c14,#ad1c2e);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}


.modal-container button
{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 30;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    background-color: black;
}

.modal-container button:hover{
    background-color: #ad1c2e;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

.diretrizes{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.conteudo-diretriz h1{
    font-size: 20px;
}

.conteudo-diretriz p{
    text-align: justify;
}

footer h1 {
    font-size: 24px;
    margin: 0;
}

.icones{
    display: flex;
    gap: 20px;
    padding: 10px 10px;
}

.icones a{
    color: white;   
}

.icones i{
    font-size: 40px;
}


.logo_dexstroll_footer{
    width: 226px;
}

.logo_code_footer{
    width: 118px;

}

.politica button{
    background-color: #bcccd8;
    border: none;
    border-radius: 30px;
    font-size: 24px;
    transition-duration: 0.4s;
}

.politica button:hover{
    background-color: #1f5fa8;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}

@media (max-width: 768px) {
    footer{
        flex-direction: column;
        gap: 30px;
        padding: 20px 20px;
    }

    .logo_dexstroll_footer {
        width: 160px;
    }

     .icones i {
        font-size: 30px;
    }
}