* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background: white;
  background-attachment: fixed;
  width: 100%;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}
.tabela-usuarios {
  width: 100%;
  border-collapse: collapse;
}
.tabela-usuarios tbody tr {
  border-bottom: 1px solid #e0e0e0;
}
.botao-adicionar {
  color: white;
  font-weight: 700;
  padding: 8px 16px;
  background-color: red;
  border-radius: 35px;
  height: 100%;
  border: none;
  cursor: pointer;
}
.superioracoes-tabela {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: #0d2a4d;
  padding: 12px;
  width: 100%;
}
.titulos-colunas {
  background-color: #1f5fa8;
  border: none;
  color: white;
}
.secao-tabela {
  width: 100%;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
}
.tabela-usuarios th,
.tabela-usuarios td {
  padding: 12px 15px;
  text-align: left;
  color: black;
}
.celula-acoes {
  display: flex;
  gap: 12px;
}

.celula-acoes button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f5fa8;
  transition: all 0.2s ease-in-out;
}
.celula-acoes .material-icons {
  font-size: 22px; 
}
.celula-acoes button:hover {
  transform: scale(1.2);
}
