body{
    background-color: #bcccdb;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-login{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-login{
    display: flex;
    flex-direction: row;
    width: 60%; 
    height: 60vh;
    margin-top: 15vh;

    border: 1px solid #0d2a4d;
    border-radius: 20px;
    box-shadow: 10px 50px 80px #0d2a4d;
}
.topo-login{
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
#icone-voltar-login{
    margin-left: 0%;
    position: absolute;
    font-size: 2.5vw;
    color: #0d2a4d;
    left: 0px;
}
.titulo-login{
    color: #0d2a4d;
    margin: 0%;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5vw;
}
.subtitulo-login{
    color: #0d2a4d;
    margin-bottom: 2vh;
    margin-top: 0%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5vw;
}
.box1-login{
    display: flex;
    flex-direction:column;
    padding: 10px;
    width: 50%;
    align-items: center;
    justify-content: center;

    background-color: #f5f7fa;
    border-radius: 20px 0px 0px 20px;
}
.descricao-login{
    color: #0d2a4d;
    margin-bottom: 0%;
}

.campos-login{
    display: flex;
    position: relative;
    flex-direction: column;
    font-size: 1vw;
}
.input-login{
    width: 20vw;
    height: 4vh;
    padding: 5px;
    padding-left: 33px;

    background-color:#bcccdb;
    border: 1px solid  #0d2a4d;
    border-radius: 5px;
    margin-top: 0vh;
    
}
#icone-envelope{
    color: #0d2c4f;
    opacity: 0.7;
    font-size: 20px;
    margin-top: 1.5vh;
}
#icone-senha{
    color: #0e2e54;
    opacity: 0.7;
    font-size: 20px;
    margin-top: 1.5vh;
}
.elementos-input{
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 50%;
    margin-left: 1vh;
}
.line-login{
    border-left: 1.5px solid #0e2e54;
    margin-left: 5px;
    height: 4vh;
    margin-top: 1vh;
    margin-bottom: 40px;
    opacity: 0.7;

}
.box2-login{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    width: 50%;

    background: linear-gradient(#1f5fa8, #0d2a4d);
    border-radius: 0px 20px 20px 0px;
}
.img-login{
    width: 360px;
    height: 360px;
}
.botao-login{
    margin-top: 3vh;
    width: 10vw;
    height: 7vh;

    border: 1px solid #0d2a4d;
    border-radius: 20px;
    background-color: #0d2a4d;
    color: #bcccdb;
}
.texto-login{
    color: #0d2a4d;
    font-size: 1vw;
}
.texto-link-login{
    color: #1f5fa8;
    font-weight: 600;
    text-decoration: none;
}

/* responsivo */
@media (max-width: 950px){
    .container-login{
        height: 55vh;
    }

}
@media (max-width: 800px){
    .container-login{
        height: 45vh;
    }
    #icone-envelope{
        font-size: 15px;
        margin-top: 1.8vh;
    }
    #icone-senha{
        font-size: 15px;
        margin-top: 1.8vh;
    }
    .img-login{
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 650px){
    .img-login{
        width: 240px;
        height: 240px;
    }
}
@media (max-width: 500px){
    .container-login{
       flex-direction: column-reverse;
       width: 40%;
       align-items: center;
       justify-content: center;
       height: 100%;
    }
    .box1-login{
        width: 100%;
        padding: 5px;
        border-radius: 0px 0px 20px 20px;
    }
    #icone-voltar-login{
        font-size: 4vw;
    }
    .titulo-login{
        font-size: 3vw;
    }
    .subtitulo-login{
        font-size: 2vw;
        margin-bottom: 0%;
    }
    .campos-login{
        font-size: 2vw;
    }
    .box2-login{
        width: 100%;
        height: 5vh;
        padding: 5px;
        border-radius: 20px 20px 0px 0px;
    }
    .img-login{
        width: 55px;
        height: 55px;
    }
    .input-login{
         width: 20vw;
         height: 1.5vh;
    
    }
    .line-login{
        margin-left: 5px;
        height: 2vh;
        margin-top: 0.75vh;
    }
    #icone-envelope{
        font-size: 10px;
        margin-top: 1vh;
    }
    #icone-senha{
        font-size: 10px;
        margin-top: 1vh;
    }
    .botao-login{
        margin-top: 3vh;
        width: 15vw;
        height: 4vh;
        font-size: 3vw;
}
    .texto-login{
        font-size: 1.7vw;
    }
    
}