*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.box1-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding-inline: 2vw;
}
.logo-nav{
    width: 100px;
}
.botoes-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.botao-publicacoes-nav{
    width: 120px;
    height: 7vh;

    border: 1px solid #0d2a4d;
    border-radius: 20px;
    background-color: #5a1a22;
    color: #bcccdb;
    box-shadow: 5px 5px 10px #0d2a4d;

    font-weight: 600;
}
.botao-login-nav{
    width: 120px;
    height: 7vh;
    margin-left: 2vw;

    border: 1px solid #5a1a22;
    border-radius: 20px;
    background-color: #e6392f;
    color: #5a1a22;
    box-shadow: 5px 5px 10px #0d2a4d;

    font-weight: 600;
}
.bloco-icone-menu-nav{
    display: none;
}
.line-nav{
    display: flex;
    border: 1.5px solid #5a1a22;
}
.mobile-menu-nav{
    display: none;
}
body{
    background: linear-gradient(#1f5fa8, #0d2a4d);
    height: 97vh; /* so para melhor visualização da pagina geral */
}
@media (max-width: 450px){
    .botao-publicacoes-nav{
        display: none;
    }
    .botao-login-nav{
        display: none;
    }
    .bloco-icone-menu-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #5a1a22;
        border-radius: 10px;
        box-shadow: 5px 5px 10px #0d2a4d;

        width: 45px;
        height: 7vh;
    }
    .bloco-icone-menu-nav button{
        background-color: transparent;
        border: none;
        width: 50%;
        height: 50%;
        cursor: pointer;


        display: flex;
        align-items: center;
        justify-content: center;
    }
    .botao-menu-nav{
        background-color: transparent;
    }
    #icone-menu-nav{
        color: #e6392f;
        font-size: 6vw;
    }
    .mobile-menu-nav ul{ 
        display: flex; 
        flex-direction: column; 
        text-align: center; 
        padding-bottom: 1rem; 
        background-color: #5a1a22;
    }
    .mobile-item-nav{ 
        display: flex; 
        align-items: center;
        width: 50%;

        margin-left: 18vw;
        border-radius: 10px;
        border-left: solid 6px #e1352c;

        padding: 1rem; 
        background-color: #f5f7fa;
        margin-top: 2vh;

        font-weight: 400;
        
    }
    .mobile-link-nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-decoration: none;
        color:#5a1a22;
        font-size: 3vh;
    }
    .icone-mobile-esquerda-nav{
        color: #e1352c;
        font-size: 4vh;
    }
    .icone-mobile-direita-nav{
        color: #e1352c;
        font-size: 3vh;
    }
    .open{
        display: block;
    }
}