@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background-image: url('/public/assets/fundo-pokedex.jpg');
    background-color: #1F5FA8;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    backdrop-filter: blur(6px);
    min-height: 100vh;
}

main{
    display: inline-block;
    margin-top: 2%;
    position: relative;
}

.pokedex{
    width: 70%;
}

.pokemon_image{
    position: absolute;
    bottom: 50%;
    left: 32%;
    transform: translate(-60%, 30%);
    height: 18%;
    font-size: clamp(8px, 5vw, 25px);
} 

.pokemon_main_data{
    position: absolute;
    top: 60%;
    left: 22%;
    font-size: clamp(16px, 1.5vw, 25px);
}

.pokemon_name{
    color:cadetblue;
    text-transform: capitalize;
}

.barra_busca{
    position: absolute;
    width: 25%;
    top: 70%;
    left: 19.5%;
}

.input_search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600px;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888;

}

.buttons{
    position: absolute;
    bottom: 10%;
    left: 60%;
    width: 60%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button{
    width: 10%;
    padding: 2%;
    border: 2px solid #000;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    border-radius: 5px;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

.pokemon_aditional_data{
    position: absolute;
    top: 30%;
    left: 55.5%;
    width: 16vw;
    height: 28vh;
    border-radius:20px;
    background-color: white;
    border: 3px solid #000000;
    color: #000;
    text-align: justify;
    padding: 20px;
}

@media (max-width: 600px){
    .pokedex{
        max-width: 360px;
    }
}