* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  background: linear-gradient(180deg, #1f5fa8 0%, #0d2a4d 100%);
  background-attachment: fixed;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

/* 


espaço pra eu nao ficar loucogit s


*/
time {
  color: #4fa3ff;
}
.grade_posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 48px;

  justify-content: center;

  padding: 0px 1vw;
}
.publicacao {
  background-color: #f5f7fa;
  padding: 32px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  border-radius: 40px;
  text-justify: distribute;

  width: 100%;
  height: 350px;
}
h2 {
  color: #0d2a4d;
}
.manchetedopost {
  color: #1f5fa8;
  text-align: justify;
  width: 100%;
  margin: 0;
}
.conteudopost {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
}
.nomeautorpost {
  color: #1f5fa8;
  font-weight: bold;
  margin: 0 0;
}
.fotodopost {
  background-color: #0d2a4d;
  height: 100%;
  border-radius: 30px;
  width: 50%;
}
.lermais-botao {
  background-color: #e6392f;
  width: 50%;
  align-self: center;
  border-radius: 40px;
  height: auto;
  font-weight: 900;
  color: #f5f7fa;
  font-family: "Poppins", sans-serif;
  cursor: pointer;

  /*fiquei impressionado ao aprender a trocar o cursor pra mãozinha clicando*/
}

.paginacao {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.button-pagina {
  cursor: pointer;
  color: white;
  width: 60px;
  height: 60px;
  background-color: #5a1a22;
  border: 4px solid #bcccdb;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 1440px) {
  /*nao entendi como  usa isso, mas vou ver  se funciona */
  /* agora entendi */
  .grade_posts {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .publicacao {
    margin: 0 auto;
  }
  .publicacao {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
  }
  .button-pagina {
    width: 45px;
    height: 45px;
    font-size: 18px;
    border-width: 3px;
  }

  .conteudopost {
    width: 100%;
    gap: 20px;
  }
  .manchetedopost {
    width: 100%;
  }
  .fotodopost {
    width: 100%;
    height: 250px;
  }
}
@media (max-width: 1024px) {
  .grade_posts {
    grid-template-columns: repeat(1, 1fr);
  }
  .conteudopost {
    width: 50%;
    gap: 0;
  }
  .publicacao {
    flex-direction: row;
    padding: 24px;
    width: 100%;
    height: auto;
  }
  .fotodopost {
    height: 100%;
    width: 50%;
  }
}

@media (max-width: 768px){
  .publicacao{
    flex-direction: column;
    padding: 24px;
    align-items: flex-start;
  }
  .fotodopost{
    height: 250px;
    width: 100%;
  }
  .conteudopost{
    width: 100%;
    gap: 12px;
  }
}



/* @media (max-width: 900px) {
  .grade_posts{
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 20px;
  }
  .button-pagina {
    width: 45px;
    height: 45px;
    font-size: 18px;
    border-width: 3px;
  }
  .lermais-botao{
    width: 220px;
  }
  .publicacao{
    flex-direction: column;
    width: 90%;
    max-width: 390px;
    min-height: 630px;
    padding: 20px;
    margin: 0 auto;

  }
  .conteudopost{
    width: 100%;
  }
  .manchetedopost{
    width: 100%;
  }
  .fotodopost{
    max-width: 350px;
    width: 100%;
    min-height: 250px;
    min-width: 250px;
    height: 100%;
    max-height: 350px;
  }
  .button-pagina:nth-child(5),
  .button-pagina:nth-child(6) {
    display: none;
  }
} */

/* @media (max-width: 480px) {
  .button-pagina {
    width: 38px;
    height: 38px;
    font-size: 14px;
    border-width: 2px;
  }
  .button-pagina:nth-child(5),
  .button-pagina:nth-child(6) {
    display: none;
  }

  .paginacao {
    gap: 6px;
  }
} */
