@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
}

.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 20px;
    min-height: 100vh;
    width: fit-content;
    border-radius: 0 8px 8px 0;
    background-color: #0d2a4d;
}

.material-icons{
    font-size: 40px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

/* Topo da sidebar */

.sidebar-topo{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.toggle-sidebar{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
}


/* Menus da sidebar */
.sidebar-menus{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-menus ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-menus-links{
    display: flex;
    align-items: end;
    gap: 10px;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.sidebar-menus-links:hover{
    background-color: #0d96e6;

}

.descricao-menus{
    display: none;
}


/* Parte inferior da sidebar */

.sidebar-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


        /* Perfil do Usuario */

.sidebar-perfilUsuario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.sidebar-perfilUsuario img{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    object-fit: cover;
}

.info-perfilUsuario{
    display: none;
    justify-content: center;
    align-items: center;
}

.info-perfilUsuario p{
    text-align: center;
    font-size: 10px;
    font-weight: 100;
}

