/* Configurações Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --vermelho-escuro: #5A1A22;
    --vermelho: #E6392F;
    --azul-marinho: #0D2A4D;
    --azul: #1F5FA8;
    --azul-claro: #4FA3FF;
    --azul-ceu: #96CCFF;
    --branco-neve: #F5F7FA;
    --preto: #2B2F38;
}

.body-pagina-publicacao {
    background-color: var(--azul-ceu); 
    color: var(--preto);
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.pagina-publicacao{
    width: 100%;
    max-width: 85vw;
    margin-left: 85px;
}

.warper-tabela{
    overflow-x: auto;
}

/* Cabeçalho */
.header-pag-publicacao h1 {
    font-size: 42px;
    font-weight: 700;
    color: var(--azul-marinho);
}

.header-pag-publicacao h3 {
    font-size: 16px;
    font-weight: 400;
    color: var(--azul-marinho);
    margin-top: -5px;
    margin-bottom: 30px;
}

/* Container Escuro da Tabela */
.card-tabela {
    
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    padding-bottom: 2px;
}

/* Topo do Card */
.topo-tabela {
    display: flex;
    background-color: var(--azul-marinho); 
    justify-content: flex-end;
    padding: 25px 30px 15px 30px;
}

.criar-publicacao-admin {
    background-color: #ff4a4a; 
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.criar-publicacao-admin:hover {
    background-color: #963944;
}


.tabela-admin {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--branco-neve); 
}

/* Cabeçalho da Tabela */
.cabecalho-tabela-admin {
    background-color: var(--azul-marinho); 
}

.cabecalho-tabela-admin th {
    color: var(--branco-neve);
    font-weight: 500;
    font-size: 20px;
    padding: 18px 20px;
    text-align: center;
}

/* Linhas e Células de Dados */
.tabela-admin tbody tr {
    border-bottom: 1px solid var(--branco-neve); 
}

.tabela-admin tbody td {
    padding: 18px 20px;
    color: var(--preto);
    font-size: 18px;
    text-align: center;
    background-color: var(--branco-neve); 
}


.dado_id_admin {
    font-weight: 500;
}


.celula-acoes-admin {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.botao-acao {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--azul-marinho); 
    transition: transform 0.1s, color 0.2s;
}

.botao-acao .material-icons {
    font-size: 20px;
}

.botao-acao:hover {
    transform: scale(1.1);
}

.botao-deletar:hover {
    color: #ff4a4a;
}

/* Paginação */
.paginacao {
    display: flex;
    list-style: none;
    margin: 8px;
}

.paginacao-container{
    display: flex;
    background-color: var(--azul-marinho); 
    justify-content: center;
}

.paginacao li{
    margin: 0 5px;
}

.paginacao a {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.2s;

    text-decoration: none;
    padding: 8px 12px;
}

.paginacao a.active{
    background-color: var(--azul);
    color: white;
    border-color: var(--azul-claro);
}

.paginacao a.disable{
    color: #ccc;
    pointer-events: none;
}

.paginacao span.dots{
    padding: 8px 12px;
    color: #ccc;
    pointer-events: none;
}

/* Modal CRIAR */

.cabecalho-criar-publicacao{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    width: 100%; 
}

.linha-separadora {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0px 10px 0px; 
}

.botao-fechar{
    cursor: pointer;
    display: flex;   
    align-items: center;
    margin: 0;
}

#modalCriarPublicacao{
    width: 100%;
    max-width: 500px;
    max-height: 80vh; 
    overflow-y: auto;
}

#modalCriarPublicacao::-webkit-scrollbar{
    display:none;
}

.input-modal-titulo{
    width: 100%;
    height: 45px;
    border-radius: 10px;
    padding: 0 10px;
}

.modal-pagina-publicacao{
    display: none;
    flex-direction: column;
    background-color: var(--branco-neve);
    width: 40%;
    height: fit-content;
    padding: 20px;
    position: absolute;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));

}
.input-container-curiosidade{
    display: none;
}

.input-modal-curiosidade{
    padding: 10px;
    width: 100%;
    height: 50px;
}

.grupo-data-modal{
    padding: 20px 0px;
    border-radius: 10px;
}

.botoesModalCriarPub{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.botoesModalCriarPub .cancelarBotaoModal{
    padding: 10px;
    border-radius: 20px;
    color: #0D2A4D;
    border: 1.5px solid #0D2A4D;
    flex: 1;
}

.botoesModalCriarPub .enviarBotaoModal{
    padding: 10px;
    border-radius: 20px;
    background-color: #1F5FA8;
    color:#F5F7FA;
    border: none;
    flex: 1;
}

.filtro{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
    position: fixed;
    display: none;
    top: 0;
}

/* .modal-pagina-publicacao .cancelarBotaoModal:hover{
    transition: transform 0.2s, color 0.2s;
    color: var(--branco-neve);
    font-weight: bold;
    background-color: var(--vermelho);
}


.modal-pagina-publicacao .enviarBotaoModal:hover{
    transition: transform 0.2s, color 0.2s;
    color: var(--branco-neve);
    background-color: var(--azul);
    font-weight: bold;
} */

/* Modal excluir */
.modal-excluir-publicacao{
    display: none;
    flex-direction: column;
    background-color: var(--branco-neve);
    width: 40%;
    height: fit-content;
    padding: 20px;
    position: absolute;
    border-radius: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
}

.titulo-modal-excluir{
    color: #2B2F38;
}
.linha-separadora-modal-excluir{
    border: none;
    border-top: 2px solid #ccc;
    margin: 5px 0px 0px 0px; 
}
.container-icone-modal-excluir{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icone-alerta-modal-excluir{
    font-size: 3vw;
    color: #E6392F;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.descricao-modal-excluir{
    font-size: 1vw;
    padding: 10px;
    color: #2B2F38;
    text-align: center;
}

.modal-excluir-publicacao button{
    padding: 10px;
    border-radius: 20px;
    padding-inline: 2vw;
}

.botoesModalExcluirPub{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.cancelarBotaoModalDeExclusao{
    color: #5A1A22;
    border: 1.5px solid #5A1A22;
}
.excluirBotaoModal{
    background-color: #E6392F;
    color: #F5F7FA;
    border: none;
}

/* Modal visualizar */
.modal-visualizar-publicacao{
    display: none;
    flex-direction: column;
    background-color: var(--branco-neve);
    width: 40%;
    height: 550px;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    overflow-y: auto;
}
.nav-modal-excluir{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
}
.titulo-modal-visualizar{
    color: #1F5FA8;
    margin-top: 3%;
}
.icone-fechar-modal-visualizar{
    font-size: 2vw;
    cursor: pointer;
    color: #1F5FA8;
}
.box1-modal{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    gap: 1%;
}
.box2-modal{
    display: flex;
    flex-direction: column;
    gap: 1%;
}
.grupo-inputs-modal {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.label-modal-visualizar {
    font-weight: 500;
    font-size: 14px;
    margin-top: 2vh;
}
.grupo-inputs-modal input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.2s;
    width: 100%;
    height: 100%;
}

.grupo-inputs-modal select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.2s;
    width: 100%;
    background: white;
}
/* .input-descricao-modal{
    height: 25vh;
    border-radius: 12px;
    margin-bottom: 3vh;  EXCLUIR
    resize: none;
    overflow-y: auto; 
    padding: 10px;
} */
.imagem-principal-modal-excluir{
    display: flex;
    flex-direction: column;
    gap:10px
}
.img-principal-placeholder-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    border-radius: 12px;
    margin-top: 6vh;
    margin-bottom: 8vh;
}
.img-secundaria-placeholder-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d4d5d8;
    height: 20vh;
    border-radius: 12px;
}
.icone-imagem-modal{
    color: #F5F7FA;
    font-size: 5vw;
}
.bloco-imagens-secundarias-modal{
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px; 
    margin-bottom: 10px;
}
.bloco-imagens-secundarias-modal .img-placeholder-modal{
    height: 15vh;
}
.bloco-imagens-secundarias-modal i{
    font-size: 3vw;
}
.modal-visualizar-publicacao::-webkit-scrollbar {
    width: 10px;
}
.modal-visualizar-publicacao::-webkit-scrollbar-thumb {
    background: #1F5FA8;
    border-radius: 30px;
    border: 2px solid #F5F7FA;
}

.checkbox-container {
    display: flex;         
    flex-direction: row;  
    align-items: center;  
    gap: 8px;             
    cursor: pointer;      

    font-size: 16px;
    font-weight: bold;
    color: #1a202c;        
}


#toggle-curiosidade {
    margin: 0;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.escondido{
    display: none;
}

/* Modal editar */
.modal-editar-publicacao{
    display: none;
    flex-direction: column;
    background-color: var(--branco-neve);
    width: 40%;
    height: 550px;
    padding: 20px;
    position: absolute;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
    overflow-y: auto;
}
.botoesModalEditarPub{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.modal-editar-publicacao button{
    padding: 10px;
    border-radius: 20px;   
    padding-inline: 2vw;
}
#editor-modal-editar{
    margin-top: 30px;
}

#editor-modal-visualizar{
    padding-top: 30px;
}

.cancelarBotaoModalEditar{
    color: #0D2A4D;
    border: 1.5px solid #0D2A4D;
    flex: 1;
}
.enviarBotaoModalEditar{
    background-color: #1F5FA8;
    color:#F5F7FA;
    border: none;
    flex: 1;
}
.input-curiosidades-modal{
    height: 25vh;
    border-radius: 12px;
    margin-bottom: 3vh;
    border: 1px solid #0D2A4D;
    background-color: white;
    resize: none;
    overflow-y: auto; 
    padding: 10px;
}
.modal-editar-publicacao::-webkit-scrollbar {
    width: 10px;
}
.modal-editar-publicacao::-webkit-scrollbar-thumb {
    background: #1F5FA8;
    border-radius: 30px;
    border: 2px solid #F5F7FA;
}


@media (max-width: 1150px){
    /* Modal visualizar */
    .box2-modal{
        display: flex;
        flex-direction: column;
    }
    /* Modal excluir */
    .descricao-modal-excluir{
        font-size: 1.5vw;
    }
}
@media (max-width: 1000px){
    /* Modal visualizar */
    .titulo-modal-visualizar{
        font-size: 3vw;
    }
    .icone-fechar-modal-visualizar{
        font-size: 3vw;
    }
    .icone-alerta-modal-excluir{
        font-size: 5vw;
    }
}
@media (max-width: 800px){
 /* Modal excluir */
    .descricao-modal-excluir{
        font-size: 2vw;
    }   
}
@media (max-width: 768px){
    .pagina-publicacao{
        margin-left: 0;
    }
}

@media (max-width: 550px){
    /* Modal visualizar */
    .modal-visualizar-publicacao{
        width: 60%;
    } 
    .titulo-modal-visualizar{
        font-size: 4vw;
    }
    .icone-fechar-modal-visualizar{
        font-size: 4vw;
    }
    .box1-modal{
        display: flex;
        flex-direction: column;
    }
    .input-descricao-modal{
        height: 15vh;
    }
    .input-curiosidades-modal{
        height: 15vh;
    }
    .img-principal-placeholder-modal{
        height: 18vh;
    }
    .img-secundaria-placeholder-modal{
        height: 12vh;  
    } 
    /* Modal editar */
    .modal-editar-publicacao{
        width: 60%;
    } 
    /* Modal excluir */
    .modal-excluir-publicacao{
        width: 60%;
    } 
    .titulo-modal-excluir{
        font-size: 4vw;
    }
    .icone-alerta-modal-excluir{
        font-size: 6vw;
    }
    .descricao-modal-excluir{
        font-size: 3vw;
    }


}




/* busca */
.topo-tabela {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    gap: 20px;
    padding: 25px 30px 15px 30px;
}


.pesquisausuario {
    margin: 0;
}

.grupo-busca {
    display: flex;
    align-items: center;
    background-color: var(--branco-neve);
    border-radius: 20px; 
    padding: 5px 15px;
    height: 40px;
}

.input-busca-admin {
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    width: 260px; 
    color: var(--preto);
}

.btn-busca-admin {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--azul-marinho);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.btn-busca-admin:hover {
    color: var(--azul);
}

.btn-busca-admin .material-icons {
    font-size: 20px;
}


@media (max-width: 768px){
    .botoesModalCriarPub{
        flex-direction: column-reverse;
    }

    .botoesModalEditarPub{
        flex-direction: column-reverse;
    }

    .input-busca-admin {
        width: 200px;
    }
}
@media (max-width: 630px){
    .input-busca-admin {
        width: 110px;
    }
     .texto-botao {
        display: none;
    }
     .input-busca-admin::placeholder {
        font-size: 9px;
    }
}
@media (max-width: 385px){
    .input-busca-admin {
        width: 80px;
    }
    .topo-tabela {
        gap: 10px;
            padding: 25px 30px 15px 10px;
    }
}



