<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/dashboard_painel.css"> 
    <title>Painel - DexStroll</title>
</head>
<body>
    <section>
        <h1>Dashboard</h1>
        <!-- substituir com php os usuarios -->
        <h3>XX usuários encontrados</h3>
    </section>
    <section>
        <button class="publicacoes_admin">Publicações</button>
        <button class="usuarios_admin">Usuário</button>
    </section>
    <table>
        <th>
            <button class="criar-publicacao-admin">Criar publicação</button>
        </th>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Data de criação</th>
        <th>Ações</th>
        <tr>
            <td class="dado_id_admin">a</td>
            <td class="dado_titulo_admin">a</td>
            <td class="dado_autor_admin">a</td>
            <td class="dado_data_criacao_admin">a</td>
             <td class="dado_acoes_admin">a</td>
        </tr>
    </table>
    <div class="paginacao">
        <!-- colocar no php a paginação dinamica de acordo com os dados -->
        <button class="btn-prev-tabela-admin">&lt</button>
        <button class="pagina-tabela-admin"><a href="">1</a></button>
        <button class="btn-next-tabela-admin">&gt</button>
        
    </div>
</body>
</html>