<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/footer.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">   
    <title>-Footer - DexStroll</title>
</head>
<body>

    <footer> 
        <div class="redes_sociais">
            <h1>Redes</h1>
            <div class="icones">
                <a href="#">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="assinatura">
            <a href="">
                <img class="logo_dexstroll_footer" src="../../../public/assets/dexstroll-logo.png" alt="Logo DexStroll">
            </a>
            <a href="">
                <img class="logo_code_footer" src="../../../public/assets/code-logo.png" alt="Logo CodeJR">
            </a>
        </div>
        <div class="contato-politica">
            <div class="contato">
                <h1>Contato</h1>
                <address class="contatos">
                    (00)0000-0000 <br>
                    email@email.com
                </address>
            </div>
            <div class="politica">
                <button type="button">Politicas</button>
            </div>
        </div>
    </footer>
</body>
</html>