<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../public/css/footer.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">   
    <title>DexStroll</title>
</head>
<body>

    <footer> 
        <div class="redes_sociais">
            <h2>Redes</h2>
            <a href="">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
        <div class="assinatura">
            <a href="">
                <img class="logo_dexstroll_footer" src="../../../public/assets/dexstroll-logo.png" alt="Logo DexStroll">
            </a>
            <a href="">
                <img class="logo_code_footer" src="../../../public/assets/code-logo.png" alt="Logo CodeJR">
            </a>
        </div>
        <div>
            <h2>Contato</h2>
            <p>(00)0000-0000</p>
            <p>email@email.com</p>
        </div>
    </footer>
</body>
</html>