<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lp.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <title>DexStroll</title>
</head>
<body>
    <section class="hero-section-landing">
        <h1>Explore e domine o mundo Pokémon com estratégia!</h1>
        <p>Descubra habilidades, matchups e decisões que realmente mudam suas batalhas.</p>
        <button href="#">Saiba mais</button>
    </section>

    <section class="sobre-landing">
        <h2>Mais que um blog!</h2>
        <div>
            <img src="" alt="">
            <h3>Estratégia Aplicada</h3>
            <p class=>Entenda como usar habilidades, tipos e combinações na prática.</p>
        </div>
        <div>
            <img src="" alt="">
            <h3>Visão Estratégica</h3>
            <p>Aprenda diferentes formas de abordar a mesma batalha.</p>
        </div>
        <div>
            <img src="" alt="">
            <h3>Crescimento Contínuo</h3>
            <p>Melhore com consistência através da prática e feedback.</p>
        </div>
    </section>

    <section class="postagens-landing">
        <h2>Últimas postagens</h2>
        <div class="fundo-posts-landing">
            <img src="" alt="imagem-postagem-landing">
            <div class="dados-post-landing">
                <h6>Abril XX, 2026</h6>
                <h3>Título da postagem</h3>
                <div class="imagem-autor-post">
                    <img src="" alt="Imagem do autor">
                    <p>Nome do autor</p>
                </div>
            </div>
            <div class="descricao-post-landing">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in fringilla leo, sit amet convallis justo.  Aenean finibus feugiat massa commodo lobortis.</p>
            </div>
            <button class="botao-ler-mais-landing">Ler mais</button>
        </div>
    </section>
</body>
</html>