<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <div class="container-login">

        <div class="bloco1-login">
            <h1 id="titulo-login">LOGIN</h1>

                <h2 id="subtitulo-login">Bem-vindo de volta</h2>

                <p class="descricao-login">Email</p>
                <label class="input-login">
                    <input id="email" name="email" type="email">
                </label>

                <p class="descricao-login">Senha</p>
                <label class="input-login">
                    <input id="senha" name="senha" type="senha">
                </label>

                <button class="botao-login">Login</button> 
        </div>

            <div class="bloco2-login">
                <img src="/public/assets/logo.png" alt="">
            </div>

    </div>
</body>
</html>