<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="lp.css">
    <link rel="stylesheet" href="../../../public/css/postspage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>DexStroll</title>
</head>
<body>
    <section class="CapaPrincipal-Landing">
        <h1>Explore e domine o mundo Pokémon com estratégia!</h1>
        <p>Descubra habilidades, matchups e decisões que realmente mudam suas batalhas.</p>
        <button href="#">Saiba mais</button>
    </section>

    <section class="Sobre-Landing">
        <h2>Mais que um blog!</h2>
        <div>
            <img src="" alt="">
            <h3>Estratégia Aplicada</h3>
            <p>Entenda como usar habilidades, tipos e combinações na prática.</p>
        </div>
        <div>
            <img src="" alt="">
            <h3>Visão Estratégica</h3>
            <p>Aprenda diferentes formas de abordar a mesma batalha.</p>
        </div>
        <div>
            <img src="" alt="">
            <h3>Crescimento Contínuo</h3>
            <p>Melhore com consistência através da prática e feedback.</p>
        </div>
    </section>

    <section class="Postagens-Landing">
        <h2></h2>
        <div class="Posts-Landing">
            <img src="" alt="imagem-postagem">
            <div>
                <h6>Abril XX, 2026</h6>
                <h3>Título da postagem</h3>
                <img src="" alt="imagem-autor-postagem">
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in fringilla leo, sit amet convallis justo.  Aenean finibus feugiat massa commodo lobortis.</p>
            <button>Ler mais</button>
        </div>
    </section>
</body>
</html>