<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Usuários</title>
    
    <!-- alterar arquivo CSS quando merge -->
    <link rel="stylesheet" href="../../../public/css/listadeusuarios.css" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="dashboard-container">
      
      <div class="card-tabela">

        <div class="topo-tabela">
          <button class="criar-publicacao-admin">
            <span class="material-icons" style="vertical-align: middle; font-size: 18px; margin-right: 6px;">person_add</span>
            Adicionar Usuário
          </button>
        </div>

        <table class="tabela-admin">
          <thead>
            <tr class="cabecalho-tabela-admin">
              <th>Usuário</th>
              <th>Nome Completo</th>
              <th>Email</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody id="corpo-tabela-usuarios">
            <tr>
              <td class="dado_id_admin">nomedeusuario</td>
              <td>Nome Completo pessoa</td>
              <td>usuarioexemplo@provedor.com</td>
              <td class="celula-acoes-admin">
                <button class="botao-acao" title="Visualizar">
                  <span class="material-icons">visibility</span>
                </button>
                <button class="botao-acao" title="Editar">
                  <span class="material-icons">edit</span>
                </button>
                <button class="botao-acao botao-deletar" title="Deletar">
                  <span class="material-icons">delete</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div> 

    </div>

    <script src="../../../public/js/listadeusuarios.js"></script>
  </body>
</html>