<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista de Usuários</title>
    <link rel="stylesheet" href="../../../public/css/postspage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../../public/css/listadeusuarios.css" />
  </head>
  <body>
   <main class="listausuarioscontainer">
        <header class="titulo-pagina">
            <h1 class="titulolistausuarios">Lista de Usuários</h1>
        </header>

        <section class="secao-tabela">
            
            <div class="superioracoes-tabela">
                <button class="botao-adicionar">Adicionar Usuário</button>
            </div>

            <table class="tabela-usuarios">
                <thead>
                    <tr class="titulos-colunas">
                        <th>usuario</th>
                        <th>Nome completo</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>nomedeusuario</td>
                        <td>Algum Nome aleatório por aí</td>
                        <td>usuario@email.com</td>
                        <td class="celula-acoes">
                          <button class="botao-visualizar" title="Visualizar">👁</button>
                          <button class="botao-editar" title="Editar">📝</button>
                          <button class="botao-deletar" title="Deletar">⨂</button>
                        </td>
                    </tr>
                    <tr>
                        <td>nomedeusuario</td>
                        <td>Nome Completo pessoa</td>
                        <td>shaolinmatadordeporco@email.com</td>
                        <td class="celula-acoes">
                            <button class="botao-visualizar" title="Visualizar">👁</button>
                            <button class="botao-editar" title="Editar">📝</button>
                            <button class="botao-deletar" title="Deletar">⨂</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>
  </body>
</html>
