*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Poppins;
}

.hero-section-landing{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./assets/imagem-landing.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 25%;
    background-size: cover;
    position: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    color: white;
}

.hero-section-landing h1{
    
}
