<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="../../../public/css/pagina-de-visualizacao.css">
    <title>Pagina de Visualização Unica - DexStroll</title>
</head>
<body>
    <section class="introducao">

        <h1>Lorem ipsum dolor sit amet consectetur.</h1>
        <div class="dados">
            <h2>Data da publicação • Autor • Categoria</h2>
        </div>
    </section>
    <section class="conteudo">
        <div class="imagem_principal">
            <img src="../../../public/assets/fundo_falso.jpg" alt="Imagem de exemplo">            
        </div>
        <div class="texto">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam, quo eos! Sint minima ratione voluptatibus. Mollitia voluptatem explicabo deleniti debitis. Quis architecto laboriosam, officia natus necessitatibus alias laborum similique! Suscipit.
            Ad eligendi, deleniti beatae explicabo error praesentium unde quos veritatis libero ex voluptatem expedita dolor, cum vel adipisci qui vero. Itaque ipsam deleniti corrupti quaerat assumenda magnam perspiciatis explicabo voluptatibus!
            Earum, laboriosam? Maxime omnis incidunt consequatur quasi quibusdam magnam, adipisci neque dolore fugit, blanditiis eos aperiam? Voluptatem vel facere, dicta in a totam natus asperiores accusantium, ex iusto vitae eligendi!
            Ab, exercitationem optio perspiciatis similique error cum libero! Molestiae deserunt atque tempore cupiditate fugit tenetur animi nisi inventore eaque non, pariatur officia, fugiat magni officiis suscipit nostrum, veniam sequi quaerat.
            Asperiores officia aspernatur repellat iusto blanditiis nam repellendus aperiam amet atque enim hic obcaecati veniam ut ea numquam magnam doloribus dignissimos, omnis ad illo assumenda cumque delectus unde possimus? Repellendus.
            Hic obcaecati itaque nulla est repellat aspernatur id tempora fugiat debitis facere error expedita, tempore fugit deleniti ex, delectus in, asperiores unde maiores saepe! Assumenda sit vero accusantium nulla officiis!
            Illo similique dolores sequi, facere deserunt officia eveniet quibusdam, voluptatum voluptate provident ipsa dolorem reprehenderit. Quidem vitae exercitationem optio fuga non ex, accusantium error obcaecati. Quo fugiat accusantium suscipit ducimus.
            Quibusdam adipisci magnam illo, alias doloremque quidem odio accusamus incidunt dolores sunt! Doloribus iste mollitia, adipisci veritatis, aperiam, blanditiis quas nisi a voluptatibus repellendus aliquid voluptates molestiae fugiat velit harum!
            Ipsam ea iusto odio eius dolorem a neque? Non maiores molestias, consectetur veniam saepe unde incidunt nam accusantium optio deserunt voluptatem cumque assumenda mollitia, eligendi vero obcaecati quae in architecto.
            Nihil laboriosam nemo doloribus commodi assumenda explicabo ducimus minus quos odio? Velit soluta quidem repudiandae blanditiis dolorum error eum! Aliquid odit debitis temporibus nulla repellendus ad laboriosam nihil voluptatibus corrupti?
            </p>
        </div>
        <div class="texto2">
            <div class="imagem_lado">
                <img src="../../../public/assets/fundo_falso.jpg" alt="Imagem de exemplo">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ab, totam, magni delectus necessitatibus harum ut voluptatibus doloribus dolore consectetur vitae distinctio, odit quisquam officiis provident praesentium voluptates voluptatem? Voluptates!
            Inventore earum praesentium omnis, ratione modi eum, quas rerum tempore voluptas repellendus, necessitatibus placeat. Harum quisquam, quod saepe quos autem magnam facere voluptatum. Perferendis explicabo error officiis. Accusamus, nesciunt neque!
            Autem nihil molestias amet labore voluptate cum minus in, cumque beatae deserunt necessitatibus repudiandae perferendis doloribus culpa aliquam dolorem a eius dignissimos placeat natus vero error magni molestiae. Ex, ut?
            Inventore eveniet, magni magnam a voluptatem quod aspernatur praesentium maxime rem pariatur rerum cumque distinctio aliquam obcaecati recusandae mollitia saepe. Et fugiat fugit totam exercitationem ducimus laborum architecto similique molestias!
            Doloribus quia voluptatibus odio accusamus consequatur perspiciatis commodi, possimus tempora quae dicta vel dolorum! Praesentium provident aliquam repellendus assumenda veritatis rem cupiditate optio, itaque esse, quae ut saepe, nulla laudantium!</p>
        </div>
    </section>
    <section class="posts_relacionados">
        <h1>Posts Relacionados</h1>
        <div class="carrossel">
            <ul>
                <li class="card">
                    <a href="">
                        <img src="../../../public/assets/fundo_falso.jpg" alt="Imagem de exemplo">
                        <h2>Título do Post 1</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro accusantium dolorem, aspernatur placeat ab distinctio molestiae laborum eos ex ullam fugit, alias molestias dolores repudiandae id nulla quibusdam voluptate inventore.</p>
                    </a>
                </li>
                
                <li class="card">
                    <a href="">
                        <img src="../../../public/assets/fundo_falso.jpg" alt="Imagem de exemplo">
                        <h2>Título do Post 2</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro accusantium dolorem, aspernatur placeat ab distinctio molestiae laborum eos ex ullam fugit, alias molestias dolores repudiandae id nulla quibusdam voluptate inventore.</p>
                    </a>
                </li>
                <li class="card">
                    <a href="">
                        <img src="../../../public/assets/fundo_falso.jpg" alt="Imagem de exemplo">
                        <h2>Título do Post 3</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro accusantium dolorem, aspernatur placeat ab distinctio molestiae laborum eos ex ullam fugit, alias molestias dolores repudiandae id nulla quibusdam voluptate inventore.</p>
                    </a>
                </li>

                <li class="card">
                    <a href="">
                        <img src="../../../public/assets/fundo_falso.jpg" alt="Imagem de exemplo">
                        <h2>Título do Post 4</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro accusantium dolorem, aspernatur placeat ab distinctio molestiae laborum eos ex ullam fugit, alias molestias dolores repudiandae id nulla quibusdam voluptate inventore.</p>
                    </a>
                </li>

                <li class="card">
                    <a href="">
                        <img src="../../../public/assets/fundo_falso.jpg" alt="Imagem de exemplo">
                        <h2>Título do Post 5</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro accusantium dolorem, aspernatur placeat ab distinctio molestiae laborum eos ex ullam fugit, alias molestias dolores repudiandae id nulla quibusdam voluptate inventore.</p>
                    </a>
                </li>

                <li class="card">
                    <a href="">
                        <img src="../../../public/assets/fundo_falso.jpg" alt="Imagem de exemplo">
                        <h2>Título do Post 6</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro accusantium dolorem, aspernatur placeat ab distinctio molestiae laborum eos ex ullam fugit, alias molestias dolores repudiandae id nulla quibusdam voluptate inventore.</p>
                    </a>
                </li>
            </ul>
        </div>
    </section>        
</body>
</html>