<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DexStroll Publicações</title>
    <link rel="stylesheet" href="../../../public/css/postspage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <script src="../../../public/js/postspage.js"></script>
  </head>
  <body>
    <main>
      <h1 class="postpagetitle">Últimas Postagens</h1>

      <section class="grade_posts">
        <article class="publicacao">
          <div class="fotodopost"></div>
          <div class="conteudopost">
            <time class="posts-card-data" datetime="2026-04-27"
              >Abril 27, 2026</time
            >
            <h2 class="titulopost">Título da Publicação</h2>
            <p class="nomeautorpost">Fulano que escreveu</p>

            <p class="manchetedopost">
              Aqui está o resuminho da publicação, alguma coisa tipo um texto
              muito importante que eu deveria ter pego lorem ipsun
            </p>
            <button class="lermais-botao">Ler Mais</button>
          </div>
        </article>

        <article class="publicacao">
          <div class="fotodopost"></div>
          <div class="conteudopost">
            <time class="posts-card-data" datetime="2026-04-27"
              >Abril 27, 2026</time
            >
            <h2 class="titulopost">Título da Publicação</h2>
            <p class="nomeautorpost">Fulano que escreveu</p>

            <p class="manchetedopost">
              Aqui está o resuminho da publicação, alguma coisa tipo um texto
              muito importante que eu deveria ter pego lorem ipsun
            </p>
            <button class="lermais-botao">Ler Mais</button>
          </div>
        </article>
        <article class="publicacao">
          <div class="fotodopost"></div>
          <div class="conteudopost">
            <time class="posts-card-data" datetime="2026-04-27"
              >Abril 27, 2026</time
            >
            <h2 class="titulopost">Título da Publicação</h2>
            <p class="nomeautorpost">Fulano que escreveu</p>

            <p class="manchetedopost">
              Aqui está o resuminho da publicação, alguma coisa tipo um texto
              muito importante que eu deveria ter pego lorem ipsun
            </p>
            <button class="lermais-botao">Ler Mais</button>
          </div>
        </article>
        <article class="publicacao">
          <div class="fotodopost"></div>
          <div class="conteudopost">
            <time class="posts-card-data" datetime="2026-04-27"
              >Abril 27, 2026</time
            >
            <h2 class="titulopost">Título da Publicação</h2>
            <p class="nomeautorpost">Fulano que escreveu</p>

            <p class="manchetedopost">
              Aqui está o resuminho da publicação, alguma coisa tipo um texto
              muito importante que eu deveria ter pego lorem ipsun
            </p>
            <button class="lermais-botao">Ler Mais</button>
          </div>
        </article>
        <article class="publicacao">
          <div class="fotodopost"></div>
          <div class="conteudopost">
            <time class="posts-card-data" datetime="2026-04-27"
              >Abril 27, 2026</time
            >
            <h2 class="titulopost">Título da Publicação</h2>
            <p class="nomeautorpost">Fulano que escreveu</p>

            <p class="manchetedopost">
              Aqui está o resuminho da publicação, alguma coisa tipo um texto
              muito importante que eu deveria ter pego lorem ipsun
            </p>
            <button class="lermais-botao">Ler Mais</button>
          </div>
        </article>
        <article class="publicacao">
          <div class="fotodopost"></div>
          <div class="conteudopost">
            <time class="posts-card-data" datetime="2026-04-27"
              >Abril 27, 2026</time
            >
            <h2 class="titulopost">Título da Publicação</h2>
            <p class="nomeautorpost">Fulano que escreveu</p>

            <p class="manchetedopost">
              Aqui está o resuminho da publicação, alguma coisa tipo um texto
              muito importante que eu deveria ter pego lorem ipsun
            </p>
            <button class="lermais-botao">Ler Mais</button>
          </div>
        </article>
        <article class="publicacao">
          <div class="fotodopost"></div>
          <div class="conteudopost">
            <time class="posts-card-data" datetime="2026-04-27"
              >Abril 27, 2026</time
            >
            <h2 class="titulopost">Título da Publicação</h2>
            <p class="nomeautorpost">Fulano que escreveu</p>

            <p class="manchetedopost">
              Aqui está o resuminho da publicação, alguma coisa tipo um texto
              muito importante que eu deveria ter pego lorem ipsun
            </p>
            <button class="lermais-botao">Ler Mais</button>
          </div>
        </article>
        <article class="publicacao">
          <div class="fotodopost"></div>
          <div class="conteudopost">
            <time class="posts-card-data" datetime="2026-04-27"
              >Abril 27, 2026</time
            >
            <h2 class="titulopost">Título da Publicação</h2>
            <p class="nomeautorpost">Fulano que escreveu</p>

            <p class="manchetedopost">
              Aqui está o resuminho da publicação, alguma coisa tipo um texto
              muito importante que eu deveria ter pego lorem ipsun
            </p>
            <button class="lermais-botao">Ler Mais</button>
          </div>
        </article>
      </section>

      <div class="paginacao">
        <button class="button-pagina"><</button>
        <button class="button-pagina">1</button>
        <button class="button-pagina">2</button>
        <button class="button-pagina">3</button>
        <button class="button-pagina">4</button>
        <button class="button-pagina">5</button>
        <button class="button-pagina">...</button>
        <button class="button-pagina">></button>
      </div>
    </main>
  </body>
</html>
